#page-forgot-password {
  width: 100vw;
  height: 100vh;

  position: relative;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  display: flex;
  align-items: center;
}

#page-forgot-password .right-content {
  width: 40%;
  height: 100%;

  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-forgot-password .right-content > a {
  position: absolute;
  top: 40px;
  right: 40px;

  width: 48px;
  height: 48px;

  background: #ebf2f5;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-forgot-password form {
  width: 100%;
  padding: 80px;

  display: flex;
  flex-direction: column;
}

#page-forgot-password form h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  color: #5c8599;
  padding-bottom: 24px;
}

#page-forgot-password form > span {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #5c8599;
  padding-bottom: 40px;
}

#page-forgot-password form .input-block {
  padding-bottom: 16px;
}

#page-forgot-password form .input-block label {
  font-size: 16px;
  font-weight: 600;
  color: #8fa7b2;
  padding-bottom: 8px;

  display: flex;
}

#page-forgot-password form .input-block input {
  width: 100%;
  height: 64px;

  outline: none;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  background: #f5f8fa;
  padding: 24px 20px;

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #5c8599;
}

#page-forgot-password form .input-block input:focus {
  border-color: #37c77f;
}

#page-forgot-password form .input-block input:focus:invalid {
  border-color: #ff669d;
}

#page-forgot-password form .error {
  display: flex;
  justify-content: flex-end;

  padding: 10px 0;
  color: #ff669d;
}

#page-forgot-password .enter-button {
  height: 64px;

  margin-top: 20px;
  padding: 20px;

  background: #37c77f;
  border-radius: 20px;
  border: none;

  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  cursor: pointer;
  outline: none;

  transition: background-color 0.2s;
}

#page-forgot-password .enter-button:hover {
  background: #3ee08f;
}

#page-forgot-password .enter-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
